root = true

[*]
indent_style = space
indent_size = 4

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_allow_trailing_comma = false

ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_if-else-bracing = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_statement-wrapping = disabled
