name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually
  workflow_dispatch:

jobs:
  AoC-2019:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Compile and run AoC 2019
        run: |
          cd 2019
          ./gradlew build
          time ./gradlew test

  AoC-2020:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Compile and run AoC 2020
        run: |
          cd 2020
          ./build/make.sh
          time ./cmake-build-release/adventofcode
